@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
*, ::after, ::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  line-height: 1.15;
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button, input, optgroup, select, textarea {
  line-height: inherit;
  border: 1px solid currentColor;
}

button {
  overflow: visible;
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
  padding: 1px 6px;
}

input {
  overflow: visible;
}

input, textarea {
  padding: 1px;
}

fieldset {
  border: 1px solid currentColor;
  margin: 0 2px;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

select {
  text-transform: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=color] {
  background: inherit;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

::-webkit-file-upload-button, ::-webkit-search-decoration {
  -webkit-appearance: button;
  font: inherit;
}

::-moz-focus-inner {
  border: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

hr {
  box-sizing: content-box;
  height: 0;
  color: inherit;
  overflow: visible;
}

dl, ol, ul {
  margin: 1em 0;
}

dl dl, dl ol, dl ul, ol dl, ol ol, ol ul, ul dl, ul ol, ul ul {
  margin: 0;
}

b, strong {
  font-weight: bolder;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  text-indent: 0;
  border-color: inherit;
}

details {
  display: block;
}

dialog {
  background-color: inherit;
  border: solid;
  color: inherit;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

body {
  --card-bg: #fff;
  --card-primary: #5F2EEA;
  --title: #14142b;
  --text: #000;
  --button-danger: #ED2E7E;
  --button-danger-dark: #c30052;
  --button-success: #00ba88;
  --button-success-dark: #00966d;
  --button-icon: #5F2EEA;
  --button-icon-dark: #2A00A2;
  --dropdown-bg: #14142b;
  --drop-bg: #dffff6;
}

body.dark {
  background-color: #1a1126;
  --card-bg: #261d32;
  --card-primary: #553be6;
  --title: #e1e3e6;
  --text: #909499;
  --button-danger: #c30052;
  --button-danger-dark: #8a053d;
  --button-success: #43a187;
  --button-success-dark: #2c6756;
  --button-icon: #e1e3e6;
  --button-icon-dark: #909499;
  --dropdown-bg: #212843;
  --drop-bg: #43a187;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--text);
  background-color: #f7f7fc;
}

h1 {
  margin: 0;
}

ul {
  list-style: none;
}

.fade-enter-active, .fade-leave-active {
  transition: all 0.5s ease-in-out;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.switch {
  border-radius: 40px;
  width: 64px;
  height: 36px;
  background-color: #D9DBE9;
  border: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url("../images/switch-off.svg");
  transition: background-position 0.2s ease-in-out;
}

.switch:checked {
  background-color: #5F2EEA;
  background-position: right center;
  background-image: url("../images/switch-on.svg");
}

.header {
  margin-bottom: 50px;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__subtitle {
  color: #6E7191;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.header__title {
  color: var(--title);
  font-size: 48px;
}
.header__function {
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 24px;
}

.footer {
  margin-top: 70px;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__author {
  font-size: 18px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #6E7191;
}

.modal {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(20, 20, 41, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__blackout {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 10;
}
.modal__body {
  width: 40%;
  z-index: 20;
}
.modal__close {
  position: absolute;
  right: 24px;
  top: 24px;
}
.modal__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modal__caption {
  font-size: 20px;
}
.modal__footer {
  width: 100%;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.modal .basket-item {
  padding: 12px 24px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal .basket-item__description {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.button {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid var(--button-icon);
  transition-property: color, border-color;
  transition-duration: 0.5s, 0.5s;
  transition-timing-function: ease;
}
.button--icon {
  border-radius: 80px;
  height: 42px;
  width: 42px;
  color: var(--button-icon);
  display: flex;
  justify-content: center;
  align-items: center;
}
.button--icon:hover {
  color: var(--button-icon-dark);
}
.button--inline {
  font-size: 20px;
  border: none;
  border-radius: 36px;
  transition: background-color 0.5s ease;
}
.button--inline:hover {
  color: #fff !important;
}
.button--success {
  background-color: var(--button-success);
  color: #fff;
}
.button--success:hover {
  background-color: var(--button-success-dark);
}
.button--danger {
  background-color: var(--button-danger);
  color: #fff;
}
.button--danger:hover {
  background-color: var(--button-danger-dark);
}
.button:hover {
  border-color: var(--button-icon-dark);
  color: var(--button-icon-dark);
}

.orders__update {
  position: absolute;
  right: 32px;
  top: 32px;
}
.orders__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.orders__empty {
  text-align: center;
  padding: 20px 0;
  font-size: 22px;
}

.deliveries {
  position: relative;
}
.deliveries::after {
  content: "Отправить на отгрузку";
  font-size: 28px;
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 10;
  color: var(--title);
  background-color: var(--drop-bg);
  top: 0;
  left: 0;
  border-radius: 32px;
}
.deliveries.droping::after {
  display: flex;
  justify-content: center;
  align-items: center;
}
.deliveries__update {
  position: absolute;
  left: 32px;
  top: 32px;
}
.deliveries__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.deliveries__empty {
  text-align: center;
  padding: 20px 0;
  font-size: 22px;
}

.order {
  cursor: pointer;
  height: 100%;
  max-height: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.order__description {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 18px;
}
.order__settings {
  transition: transform 1s ease;
}
.order__settings.active {
  transform: rotateZ(90deg);
}
.order__settings:not(.active):hover {
  -webkit-animation: settingsMove 2s linear infinite;
          animation: settingsMove 2s linear infinite;
}
@-webkit-keyframes settingsMove {
  0% {
    transform: rotateZ(0);
  }
  25% {
    transform: rotateZ(10deg);
  }
  50% {
    transform: rotateZ(0);
  }
  75% {
    transform: rotateZ(-10deg);
  }
  100% {
    transform: rotateZ(0);
  }
}
@keyframes settingsMove {
  0% {
    transform: rotateZ(0);
  }
  25% {
    transform: rotateZ(10deg);
  }
  50% {
    transform: rotateZ(0);
  }
  75% {
    transform: rotateZ(-10deg);
  }
  100% {
    transform: rotateZ(0);
  }
}

.delivery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}
.delivery__description {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 18px;
}
.delivery__settings.active {
  transform: rotateZ(90deg);
}

.dropdown {
  position: relative;
}
.dropdown__menu {
  position: absolute;
  top: calc(100% + 20px);
  left: -14px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--dropdown-bg);
  border-radius: 16px;
  padding: 16px;
}
.dropdown__menu::before {
  content: "";
  display: block;
  position: absolute;
  width: 29px;
  height: 15px;
  top: -15px;
  left: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--dropdown-bg);
  background-image: url("../images/dropdown.svg");
}
.dropdown__item {
  font-size: 18px;
  color: #fff;
  transition: color 0.5s ease;
}
.dropdown__item.info:hover {
  color: #F4B740;
}
.dropdown__item.success:hover {
  color: #00BA88;
}
.dropdown__item.danger:hover {
  color: #ED2E7E;
}

body.dark .dropdown__menu::before {
  background-image: url("../images/dropdown-dark.svg");
}

.loader {
  margin: 0 auto;
  text-align: center;
}
.loader svg {
  -webkit-animation: rotating 1.5s linear infinite;
          animation: rotating 1.5s linear infinite;
}

@-webkit-keyframes rotating {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes rotating {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
.card {
  position: relative;
  padding: 32px;
  border-radius: 32px;
  background-color: var(--card-bg);
  box-shadow: 0px 8px 16px rgba(17, 17, 17, 0.04);
}
.card--primary {
  background-color: #5F2EEA;
  background-color: var(--card-primary);
  color: #fff;
}
.card--danger {
  background-color: #ED2E7E;
}
.card--outline {
  background-color: transparent;
  border: 2px dashed #ED2E7E;
  color: #ED2E7E;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  transition: transform 0.5s ease;
}
.card--outline.dragged {
  background-color: rgb(237, 46, 126);
  -webkit-animation: blink 1s ease infinite alternate;
          animation: blink 1s ease infinite alternate;
}
@-webkit-keyframes blink {
  from {
    background-color: rgba(237, 46, 126, 0.4);
  }
  to {
    background-color: rgba(237, 46, 126, 0.2);
  }
}
@keyframes blink {
  from {
    background-color: rgba(237, 46, 126, 0.4);
  }
  to {
    background-color: rgba(237, 46, 126, 0.2);
  }
}
.card--outline.droping {
  transform: scale(1.05);
}
.card__header {
  text-align: center;
}
.card__title {
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 32px;
  color: var(--title);
}
.card__content .loader {
  margin-top: 10px;
}

#app {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.footer {
  flex-shrink: 0;
}

.home__wrapper {
  display: flex;
  justify-content: space-between;
  min-height: calc(100vh - 465px);
}
.home__part {
  width: calc(50% - 15px);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.pt-sm {
  padding-top: 12px;
  padding-bottom: 12px;
}

.p-sm {
  padding: 16px 24px;
}/*# sourceMappingURL=main.css.map */