@mixin flex($g: null, $d: null, $j: null, $a: null) {
    display: flex;
    
    @if ($d != null) { flex-direction: $d; };
    @if ($g != null) { gap: $g; };
    @if ($j != null) { justify-content: $j; };
    @if ($a != null) { align-items: $a; };
}