<template>
    <button @click="update" :class="className" class="button button--icon">
        <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.85757 7.97868C4.28443 6.49002 5.17162 5.17472 6.39197 4.22127C7.61232 3.26783 9.10319 2.7252 10.6509 2.67115C12.1986 2.61711 13.7237 3.05442 15.0076 3.92041C16.2915 4.78641 17.2682 6.03662 17.7979 7.49187" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M17.6633 12.8508C17.1116 14.1582 16.1925 15.2775 15.0173 16.073C13.8422 16.8684 12.4615 17.3058 11.0427 17.3321C9.62384 17.3583 8.22788 16.9724 7.02405 16.2211C5.82022 15.4698 4.86024 14.3853 4.26052 13.0992" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M5.7616 12.4457L3.62247 12.763L2.59277 14.6646" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M16.1112 8.10822L18.2503 7.791L19.28 5.88938" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </button>
</template>

<script>
export default {
    props: {
        className: String
    },
    methods: {
        update() {
            this.$emit('update');
        }
    }
}
</script>

<style>

</style>