@use '../utilities/variables';
@use '../utilities/mixins';

button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid var(--button-icon);

    transition-property: color, border-color;
    transition-duration: .5s, .5s;
    transition-timing-function: ease;

    &--icon {
        border-radius: 80px;
        height: 42px;
        width: 42px;
        color: var(--button-icon);
        @include mixins.flex($a: center, $j: center);

        &:hover {
            color: var(--button-icon-dark);
        }
    }

    &--inline {
        font-size: 20px;
        border: none;
        border-radius: 36px;

        transition: background-color .5s ease;

        &:hover {
            color: variables.color('white')!important;
        }
    }

    &--success {
        background-color: var(--button-success);
        color: variables.color('white');

        &:hover {
            background-color: var(--button-success-dark);
        }
    }

    &--danger {
        background-color: var(--button-danger);
        color: variables.color('white');

        &:hover {
            background-color: var(--button-danger-dark);
        }
    }

    &:hover {
        border-color: var(--button-icon-dark);
        color: var(--button-icon-dark);
    }
}