@use '../utilities/mixins';

.delivery {
    @include mixins.flex($j: space-between, $a: center);
    gap: 15px;
    cursor: pointer;
    
    &__description {
        @include mixins.flex($j: space-between);
        width: 100%;
        font-size: 18px;
    }

    &__settings {
        &.active {
            transform: rotateZ(90deg);
        }
    }
}