@use '../utilities/variables';
@use '../utilities/mixins';

.dropdown {
    position: relative;

    &__menu {
        position: absolute;
        top: calc(100% + 20px);
        left: -14px;
        z-index: 10;

        @include mixins.flex($d: column, $g: 10px);

        background-color: var(--dropdown-bg);
        border-radius: 16px;
        padding: 16px;

        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 29px;
            height: 15px;
            top: -15px;
            left: 15px;
            background-repeat: no-repeat;
            background-size: cover;
            color: var(--dropdown-bg);
            background-image: url('../images/dropdown.svg');
        }
    }

    &__item {
        font-size: 18px;
        color: variables.color('white');
        transition: color .5s ease;

        &.info:hover {
            color: variables.color('warning');
        }

        &.success:hover {
            color: variables.color('success')
        }

        &.danger:hover {
            color: variables.color('danger');
        }
    }
}

body.dark .dropdown__menu::before {
    background-image: url('../images/dropdown-dark.svg');
}