.loader {
    margin: 0 auto;
    text-align: center;

    svg {
        animation: rotating 1.5s linear infinite;
    }
}

@keyframes rotating {
    from {
        transform: rotateZ(0deg);
    } to {
        transform: rotateZ(360deg);
    }
}