@use '../utilities/mixins';

.orders {
    &__update {
        position: absolute;
        right: 32px;
        top: 32px;
    }

    &__list {
        @include mixins.flex($g: 10px, $d: column);
    }

    &__empty {
        text-align: center;
        padding: 20px 0;
        font-size: 22px;
    }
}