@use '../utilities/mixins';

.order {
    cursor: pointer;
    height: 100%;
    max-height: 1000px;

    @include mixins.flex($j: space-between, $a: center);
    gap: 15px;
    
    &__description {
        @include mixins.flex($j: space-between);
        width: 100%;
        font-size: 18px;
    }

    &__settings {
        transition: transform 1s ease;

        &.active {
            transform: rotateZ(90deg);
        }

        &:not(.active):hover {
            animation: settingsMove 2s linear infinite;
        }

        @keyframes settingsMove {
            0% {
                transform: rotateZ(0);
            }
            25% {
                transform: rotateZ(10deg);
            }
            50% {
                transform: rotateZ(0);
            }
            75% {
                transform: rotateZ(-10deg);
            }
            100% {
                transform: rotateZ(0);
            }
        }
    }
}

