@use '../utilities/variables';

.switch {
    border-radius: 40px;
    width: 64px;
    height: 36px;
    background-color: #D9DBE9;
    border: 1px solid rgba(0, 0, 0, .25);
    appearance: none;
    cursor: pointer;

    background-repeat: no-repeat;
    background-position: left center;
    background-image: url('../images/switch-off.svg');

    transition: background-position .2s ease-in-out;
}

.switch:checked {
    background-color: variables.color('primary');
    background-position: right center;
    background-image: url('../images/switch-on.svg');
}