body.dark {
    background-color: #1a1126;

    --card-bg: #261d32;
    --card-primary: #553be6;
    --title: #e1e3e6;
    --text: #909499;
    --button-danger: #c30052;
    --button-danger-dark: #8a053d;
    --button-success: #43a187;
    --button-success-dark: #2c6756;
    --button-icon: #e1e3e6;
    --button-icon-dark: #909499;
    --dropdown-bg: #212843;
    --drop-bg: #43a187;
}