body {
    --card-bg: #fff;
    --card-primary: #5F2EEA;
    --title: #14142b;
    --text: #000;
    --button-danger: #ED2E7E;
    --button-danger-dark: #c30052;
    --button-success: #00ba88;
    --button-success-dark: #00966d;
    --button-icon: #5F2EEA;
    --button-icon-dark: #2A00A2;
    --dropdown-bg: #14142b;
    --drop-bg: #dffff6;
}