@use '../utilities/mixins';
@use '../utilities/variables';

.footer {
    margin-top: 70px;

    &__wrapper {
        @include mixins.flex($j: space-between, $a: center);
    }

    &__author {
        font-size: 18px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: variables.color('gray');
    }
}