@use '../utilities/variables';
@use '../utilities/mixins';

@use '../components/orders';
@use '../components/deliveries';

@use '../components/order';
@use '../components/delivery';
@use '../components/dropdown';
@use '../components/loader';
@use '../components/card';

#app {
    padding: 40px 0;
    @include mixins.flex($d: column);
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

.footer {
    flex-shrink: 0;
}

.home {
    &__wrapper {
        @include mixins.flex($j: space-between);
        min-height: calc(100vh - 465px);
    }

    &__part {
        width: calc(50% - 15px);
        height: max-content;
    }
}