<template>
    <div class="dropdown">
        <button @click.stop="expandDropdown" class="dropdown-toggle order__functions">
            <img class="order__settings" :class="{'active': isExpanded}" src="../assets/images/settings.svg" alt="settings icon">
        </button>
        <transition name="fade" appear>
            <ul v-if="isExpanded" class="dropdown__menu" aria-labelledby="dropdownMenu">
                <li v-for="event in events" :key="event.id">
                    <button @click="click(event.name)" class="dropdown__item" :class="event.style" type="button">{{ event.title }}</button>
                </li>
            </ul>
        </transition>
    </div>
</template>

<script>
export default {
    props: {
        events: Array
    },
    data() {
        return {
            isExpanded: false
        }
    },
    methods: {
        expandDropdown() {
            this.isExpanded = true;
            document.addEventListener('click', this.hideDropdown);
        },
        hideDropdown() {
            this.isExpanded = false;
            document.removeEventListener('click', this.hideDropdown);
        },
        click(name) {
            this.$emit('event', name);
        }
    }
}
</script>

<style>

</style>